## Importing Necessary Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score,classification_report

## Reading Dataset as CSV File

In [ ]:
dataframe = pd.read_csv('Iris.csv')
dataframe.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## Observing the columns of the dataset

In [ ]:
dataframe.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

## Separating Features and Target Columns

In [ ]:
X_cols = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']
Y_cols = ['Species']

## Identifying the unique class names

In [ ]:
classes = dataframe.Species.unique()
classes

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [ ]:
classes = ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica']

## Replacing the classnames by numeric values

In [ ]:
dataframe.Species.replace(classes, [0,1,2], inplace = True)

##  Function to perform normalization of the data

In [ ]:
def normalize(x, axis=-1, order=2):
    l2 = np.atleast_1d(np.linalg.norm(x, order, axis))
    l2[l2 == 0] = 1
    return x / np.expand_dims(l2, axis)

## Preprocessing Input Data

In [ ]:
X = pd.DataFrame(dataframe, columns=X_cols)
X = normalize(X.values)
X[:5]

array([[0.80377277, 0.55160877, 0.22064351, 0.0315205 ],
       [0.82813287, 0.50702013, 0.23660939, 0.03380134],
       [0.80533308, 0.54831188, 0.2227517 , 0.03426949],
       [0.80003025, 0.53915082, 0.26087943, 0.03478392],
       [0.790965  , 0.5694948 , 0.2214702 , 0.0316386 ]])

In [ ]:
Y = pd.DataFrame(dataframe, columns=Y_cols)
Y[:5]

   Species
0        0
1        0
2        0
3        0
4        0

## Soft-Margin SVM with RBF kernel with degree of 5

In [ ]:
soft_margin_svm = SVC(C=10000, kernel='rbf',degree = 5, max_iter = -1) 
soft_margin_svm.fit(X, Y)                                  
Y_hat = soft_margin_svm.predict(X)
acc = accuracy_score(Y, Y_hat)
print(f"Accuracy on Soft-Margin SVM: {(acc * 100)}")

Accuracy on Soft-Margin SVM: 99.33333333333333

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## Hard-Margin SVM with Polynomial kernel with degree of 10

In [ ]:
hard_margin_svm = SVC(C=1e-10, kernel='poly', degree=10, max_iter=-1) 
hard_margin_svm.fit(X, Y)
Y_hat = hard_margin_svm.predict(X)
acc = accuracy_score(Y, Y_hat)
print(f"Accuracy on Hard-Margin SVM: {acc * 100}")

Accuracy on Hard-Margin SVM: 96.66666666666667

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)